@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

* {
  @apply font-poppins;
}

.btn-Starter {
  @apply bg-starter-500 hover:bg-starter-600;
}

.btn-Standard {
  @apply bg-standard-500 hover:bg-standard-600;
}

.btn-Pro {
  @apply bg-pro-500 hover:bg-pro-600;
}

.btn-Premium {
  @apply bg-premium-500 hover:bg-premium-600;
}

.Standard {
  @apply border-standard-500;
}

.Pro {
  @apply border-pro-500;
}

.Premium {
  @apply border-premium-500;
}

th,
td {
  @apply p-2;
}

th {
  @apply text-white;
}

td {
  @apply border-b h-12;
}

.navbar-list,
.mobile-menu {
  li {
    @apply transition-all hover:text-sky-600 underline underline-offset-2 decoration-transparent hover:decoration-sky-600 py-4;
  }

  button {
    @apply transition-all;
  }
}

.mobile-menu {
  * {
    @apply border-t w-full py-4 flex justify-center;
  }
  *:last-child {
    @apply border-none px-12;
  }
}

.hero-section {
  // bg-gradient-to-br w-full from-[rgba(96,165,250,0.75)] to-[rgba(37,100,235,0.75)] bg-hero bg-no-repeat bg-center
  width: 100%;
  background: linear-gradient(to right bottom, rgba(96, 165, 250, 0.9), rgba(37, 100, 235, 0.9)), url('/images/hero-image.webp') no-repeat center;
}

.contact-hero {
  width: 100%;
  background: linear-gradient(to right bottom, rgba(96, 165, 250, 0.9), rgba(37, 100, 235, 0.9)), url('/images/people-talking.webp') no-repeat center;
}

#contact-form {
  input {
    @apply w-full md:w-1/2 p-4 outline-none border rounded-md;
  }
  textarea {
    @apply w-full p-4 outline-none border rounded-md;
  }
}
