@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

* {
  @apply font-poppins;
}

.btn-Starter {
  @apply bg-starter-500 hover:bg-starter-600;
}

.btn-Standard {
  @apply bg-standard-500 hover:bg-standard-600;
}

.btn-Pro {
  @apply bg-pro-500 hover:bg-pro-600;
}

.btn-Premium {
  @apply bg-premium-500 hover:bg-premium-600;
}

.Standard {
  @apply border-standard-500;
}

.Pro {
  @apply border-pro-500;
}

.Premium {
  @apply border-premium-500;
}

th,
td {
  @apply p-2;
}

th {
  @apply text-white;
}

td {
  @apply border-b h-12;
}

.navbar-list,
.mobile-menu {
  & > li {
    @apply transition-all underline underline-offset-2 decoration-transparent px-3 py-5;
    &:nth-child(odd):hover {
      @apply text-blue-600 decoration-blue-600;
    }
  }

  button {
    @apply transition-all;
  }
}

.mobile-menu {
  & > li {
    @apply border-t w-full flex justify-center px-0;
  }
  .list-mobile {
    li {
      @apply p-3 w-full flex justify-center bg-slate-50 hover:bg-slate-200 border-b transition-all border-slate-400  text-slate-900;
      &:first-child {
        @apply mt-2 border-t;
      }
    }
  }
}

.hero-section {
  width: 100%;
  background: linear-gradient(
      to right bottom,
      rgba(96, 165, 250, 0.9),
      rgba(37, 100, 235, 0.9)
    ),
    url('/images/hero-image.webp') no-repeat center;
  background-size: cover;
}

.contact-hero {
  width: 100%;
  background: linear-gradient(
      to right bottom,
      rgba(96, 165, 250, 0.9),
      rgba(37, 100, 235, 0.9)
    ),
    url('/images/people-talking.webp') no-repeat center;
  background-size: cover;
}

#contact-form {
  input {
    @apply w-full md:w-1/2 p-4 outline-none border rounded-md;
  }
  textarea {
    @apply w-full p-4 outline-none border rounded-md;
  }
}

.about {
  &:hover {
    ul {
      @apply flex flex-col;
      li {
        @apply text-slate-900 py-4 px-8 border-b;
        &:hover {
          @apply text-blue-600;
        }
      }
    }
  }
}
